body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

#logo-img {
  height: 50px;
  padding-left: 10px;
}

nav {

}

a {
  color: seashell;
  padding: 10px;
}

h2,
h3,
h4 {
  margin: 15px;
  color: seashell;
  text-align: center;
}

main {
  position: relative;
  top: 69px;
}

div {

}

/* MISSION */
#mission {
  background-image: url(images/img-mission-background_1200x800.jpg);
  background-size: cover;
  height: 700px;
  padding-top: 70px;
  margin-bottom: 70px;
}

.content {
  margin: 300px 0px;
  padding: 8px 0px;
  text-align: center;
  background-color: black;
  width: 100%;
}

/* TEA OF THE MONTH */
.tea-of-month-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea-containers {
  width: 300px;
  padding: 10px;
}

.tea-images {
  height: 200px;
}

/* LOCATIONS */

#locations-section {
  background-image: url(images/img-locations-background_1200×795.jpg);
  background-size: cover;
  height: 500px;
  margin-top: 50px;
  padding-top: 70px;
}

.locations-container {
  display: flex;
  justify-content: center;
}

.location-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 0px 20px;
}

/* CONTACT */
h5 {
  margin: 30px;
  color: seashell;
  text-align: center;
}

/* FOOTER */
footer h5 {
  text-align: left;
}
